<h3>Termékek kezelése</h3>
<hr>
<h3>Új termék felvétele</h3>

<div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="termekname" placeholder="">
    <label for="termekname">Terméknév</label>
</div>

<div class="form-floating mb-3 mt-3">
    <select id="disabledSelect" class="form-select">
        <option></option>
    </select>
</div>

<div></div>

<button type="button" class="btn btn-primary mx-3" routerLink="/products"> Vissza </button>

<button type="button" class="btn btn-primary" routerLink="/products"> Mentés </button>